@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: inter;
}

/* ///////////////HEADER///////////// */

.banner {
  width: 80%;
  margin: 50px auto;
  text-align: center;
  padding: 150px 10px;
  background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.3051721909466911) 0%,
      rgba(13, 2, 2, 0.6777212105545343) 100%
    ),
    url("../assets/cover/banner-image.png");
  background-size: cover;
  border-radius: 18px;
  text-shadow: 0px 0px 10px #000000;
}

.sub-heading {
  color: #fff;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
}

.heading {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  padding: 0px 330px;
}

/* /////////////OFFER/////////// */
.offer {
  width: 80%;
  margin: 0px auto;
  text-align: center;
}
.offer-percent {
  color: #f00;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  margin-top: 120px;
  padding-bottom: 0px;
}
.offer-tagline, .gallery-subhead {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  padding-top: 48px;
}
.offer-category {
  color: #070211;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  padding-top: 16px;
  padding-bottom: 48px;
}

/* //////////Party//////// */

.party {
  width: 80%;
  margin: 100px auto;
  display: flex;
  background: linear-gradient(
      to right,
      rgba(24, 14, 9, 0.876),
      rgba(28, 10, 10, 0.305)
    ),
    url("../assets/cover/vectorrr.png");
  background-size: cover;
  border-radius: 16px;
}
.party-text {
  padding: 10% 10% 8% 10%;
  color: white;
}
.party-head {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 80px;
  letter-spacing: 7.04px;
  padding-bottom: 20px;
}
.description {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 20px;
}
#join {
  background: transparent;
  padding: 20px;
  color: #fff;
  border: none;
  font-weight: 700;
  font-size: 20px;
}
.year-img > img {
  height: 60%;
  width: auto;
  position: relative;
  top: 100px;
}

/* ///////////Time and Place/////////// */

.time-2 {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.147) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
  padding: 80px 0px;
  text-align: center;
}
.time {
  color: #070211;
  font-family: Inter;
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  padding-bottom: 15px;
}
.btn-2 {
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
  background-color: #f00;
  color: white;
  font-weight: 700;
  margin-top: 48px;
}

/* //////////Coming Soon////////// */

.comming-soon {
  display: flex;
  width: 80%;
  margin: 120px auto;
  /* justify-content: space-between; */
}
.circle {
  max-height: 400px;
  max-width: 400px;
  border: 15px solid red;
  border-radius: 1000px;
}
.circle img {
  padding: 40px;
}
.best-offrer {
  max-width: 450px;
}
.offer-right * {
  padding-left: 80px;
  padding-bottom: 30px;
}
.year {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 10px;
}

/* /////////Holydays Sale////////// */

.holiday-sale {
  width: 80%;
  margin: 100px auto;
  margin-bottom: 180px;
}
.sale-text {
  text-align: center;
}
.sale-text > p {
  width: 68%;
  margin: 0 auto;
  font-weight: 500;
  line-height: 30px;
}
.sale-head {
  color: black;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  padding-bottom: 28px;
}
.sale-head > span {
  font-family: Merriweather;
}
.sale-subhead {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
/* discount*/
.discount-img {
  display: flex;
  position: relative;
}
#img-4 {
  width: 40%;
  height: auto;
  position: relative;
  bottom: -20px;
  left: 90px;
  z-index: 4;
}
#img-3 {
  width: 20%;
  height: auto;
  position: absolute;
  right: 180px;
  top: 60px;
}
#img-2 {
  width: 26%;
  height: auto;
  position: absolute;
  right: 0px;
}
#img-1 {
  width: 100%;
  height: auto;
  position: absolute;
  top: 280px;
  z-index: 3;
}

/* /////////////GALLERY///////////// */
.gallery {
  width: 80%;
  margin: 120px auto;
}
.gallery-text {
  max-width: 880px;
}
.all-subhead {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 16px;
}
.gallery-head,
.offer-head {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  padding-top: 0px;
  padding-bottom: 22px;
}
.gallery-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
  padding-top: 0px;
  padding-bottom: 48px;
}
/* display */
.gallery-display {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}
.display-img {
  height: 398px;
  width: 376px;
  /* border: 1px solid black; */
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.363);
  transition: 1s;
}
.display-img:hover {
  transform: scale(0.95);
  z-index: 2;
}
.gallery-display img {
  width: 100%;
  height: 100%;
}

/* ///////Subscribe (Newsletter)//////// */

.subscribe {
  background: rgba(255, 0, 0, 0.095);
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
  padding: 80px 0px;
  text-align: center;
}
.sub-email input[type="submit"] {
  color: white;
  background-color: #f00;
  border: none;
  padding: 20px 55px;
  border-radius: 0px 50px 50px 0px;
  margin-left: -2px;
}
.email {
  /* color: white; */
  background-color: white;
  border: none;
  padding: 20px 35px;
  width: 400px;
  border-radius: 50px 0px 0px 50px;
  margin-right: -2px;
}
.newslatter-text > h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.newslatter-text > p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
  width: 900px;
  margin: auto;
  margin-bottom: 30px;
}

/* ////////FOOTER///////// */

.footer-container {
  background-color: #070211;
  color: white;
  padding: 10% 10%;
  margin-top: 120px;
}
.footer-row1 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
.colomn1 {
  max-width: 250px;
  padding-bottom: 10px;
}
.colomn2 {
  display: block;
  /* margin-right: 10px; */
}
.colomn2-row1{
    display: flex;
    gap: 10px;
    padding-bottom: 5px;
}
.colomn2-row2{
    display: flex;
    gap: 10px;
    padding-top: 5px;
}
.footer-row2 {
  margin: 30px auto;
  width: 20%;
  display: flex;
  gap: 20px;
}
.social-icon {
  width: 70%;
  height: auto;
}
.footer-p {
  display: inline;
}
.footer-row3 {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.footer-row3 > a {
  color: white;
  text-decoration: none;
}
.link-icon {
  /* padding-top: 10px; */
  max-width: 20px;
}
hr{
    border: 1px solid rgba(255, 255, 255, 0.15);;
}

/* ////////////////////////////////////////// */

.important {
  color: #f00;
}

button:hover{
  cursor: pointer;
  color: #000000;
}

input[type="submit"]:hover{
  cursor: pointer;
  background-color: rgb(214, 0, 0);

}